* {
  margin: 0;
  box-sizing: border-box;
}

form {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5vh;
  left: 50%;
  right: 50%;
}

#input {
  margin-right: 20px;
}

.image-container img {
  width: auto;
  height: 100vh;
  object-fit: cover;
}

.image-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: scroll;
}

.thumb-container {
  position: relative;
  z-index: 1;
  left: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

#thumbs {
  overflow: scroll;

  display: flex;
  flex-direction: column;
  border: 8px solid rgba(255, 255, 255, 0.466);
  border-radius: 8px;
  height: 25vw;
  width: 12vh;
}

#thumbs img {
  object-fit: contain;
}

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#thumbs img:hover {
  animation: fadeIn 1s;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
}
