* {
  margin: 0;
  box-sizing: border-box;
}

form {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5vh;
  left: 50%;
  right: 50%;
}

#input {
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.image-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.thumb-container {
  position: relative;
  z-index: 1;
  left: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

#thumbs {
  overflow: scroll;

  display: flex;
  flex-direction: column;
  border: 8px solid rgba(38, 38, 38, 0.466);
  border-radius: 8px;
  height: 25vw;
  width: 12vh;
}

#thumbs img {
  object-fit: contain;
}

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#thumbs img:hover {
  animation: fadeIn 1s;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
}

/* buttons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.arrow-btns {
  position: absolute;
  z-index: 3;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
}

.btn {
  border: none;
  background-color: rgba(169, 169, 169, 0.707);
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 5px 10px;
}

.btn-search {
  border: none;
  background-color: rgba(169, 169, 169, 0.707);
  color: white;
  border-radius: 7px;
  padding: 5px;
  font-size: 1rem;
}

.btn-search:hover {
  border: none;
  background-color: cornsilk;
  cursor: pointer;
  color: gray;
}

.btn:hover {
  border: none;
  background-color: cornsilk;
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.2rem;
  color: gray;
}
